@using Shared.Dtos


@model LibroDto;

@{
    ViewBag.Title = "Creacion Libro";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Carga de Datos</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form asp-action="UpdateLibro" method="post" class="container">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id" />
                    <input asp-for="EntidadId" class="form-control" type="hidden" value="@Model.EntidadId" />

                </div>
                <div class="form-group">
                    <label asp-for=Name class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=TipoLibro class="control-label"></label>
                    <input asp-for="TipoLibro" class="form-control" />
                    <span asp-validation-for="@Model.TipoLibro" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="MedioAlmacenamiento" class="control-label"></label>
                    <input asp-for="MedioAlmacenamiento" type="text" class="form-control" />
                    <span asp-validation-for="@Model.MedioAlmacenamiento" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for=NumTomo class="control-label"></label>
                    <input asp-for="NumTomo" class="form-control" />
                    <span asp-validation-for="@Model.NumTomo" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for=CantFojas class="control-label"></label>
                    <input asp-for="CantFojas" class="form-control" />
                    <span asp-validation-for="@Model.CantFojas" class="text-danger"></span>

                </div>
                <div class="form-inline">
                    <label asp-for="Autorizado" class="control-label " for="decjurada">Autorizado : </label>
                    <input asp-for="Autorizado" class="form-control m-3" type="checkbox" id="decjurada" />
                </div>

                <div class="form-group">
                    <label for="editar" class=control-label> Confirme </label>
                    <input type="submit" value="Editar libro" id="editar" class="btn btn-primary flex-column" />

                </div>
            </form>   

        </div>
    </div>
    <div class="row justify-content-center">
        <a  asp-area="" asp-controller="libro" asp-action="listadoLibros" asp-route-id="@Model.EntidadId" >volver al listado de Libros</a> 
    </div>
</div>
